.container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  background-color: #ccc;
  padding: 10px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  background-color: #fff;
}
.item > div {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}
