body {
  text-align: center;
  background-color: #3b4383;
}
H2 {
  color: white;
  margin: 100px auto 10px auto;
}
.container {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  color: white;
}
